body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#question {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#question img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#question p {
  margin-bottom: 20px;
}

.choice {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.choice button {
  margin: 0 10px;
  padding: 10px;
  font-size: 16px;
}