/* 문항 프레임 */
body {
  width: 80%; /* 모바일은 가로 80% */
  height: 100%; /* 세로 100% */
  margin: 0 auto; /* 가운데 정렬 */
  padding: 20px;
  box-sizing: border-box;
  text-align: center; /* 모든 내용 가운데 정렬 */
  background-color: #fff;
  border: 1px solid #ccc;
}

@media screen and (min-width: 768px) { /* 768px 이상의 큰 화면에서는 */
  body {
    width: 50%; /* 가로 50% */
  }
}

/* 문항 */
.question {
  margin-top: 0px;
}

.question p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.question img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.choice {
  display: flex;
  flex-direction: column; /* 선택지를 세로로 배치 */
  gap: 10px;
  margin: 50px 0px;
}

.btn {
  width: 100%; /* 가로 50% */
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

#coupang{
  width: 100%;
}